
 * {
	 color: black;
}
 .prod__detail {
	 width: 100%;
}
 .page-link {
	 border: none;
	 color: var(--dark);
}
 .product--quantity .qty-wapper {
	 justify-content: left;
}
 .product--quantity .qty-wapper button, .product--quantity .qty-wapper input {
	 border: 1px solid var(--colorDarkGray);
}
 .product--quantity input#product__qty {
	 border: 2px solid var(--gray);
	 border-radius: 8px;
	 text-align: center;
	 height: 2rem;
	 width: 6rem;
}
 .product--quantity button {
	 border-radius: 2em;
	 margin: 0 0.35em;
	 width: 2em;
}
 .prod__detail {
	 display: grid;
	 grid-template-columns: repeat(3, 1fr);
	 grid-template-rows: auto;
	 grid-gap: 15px;
	 height: auto;
	 grid-template-columns: 10% 40% 50%;
}
 .prod__detail > div:first-child {
	 display: grid;
	 grid-template-rows: repeat(5, 1fr);
}
 .prod__detail > div {
	 margin-top: 1em;
}
 .prod__detail > .productimage__container img {
	 width: 100%;
	 padding: 0.25em 0.5em;
}
 .prod__detail #productimage img {
	 height: auto;
	 padding: 1em;
}
 .prod__detail .breadcrumb {
	 background-color: var(--colorwhite);
}
 .prod__detail #product__title--Section {
	 display: inline-grid;
}
 .prod__detail #product__title--Section .product-title-word-break {
	 word-break: break-word;
}
 .prod__detail #product__title--Section .a-size-large {
	 font-size: 24px;
	 line-height: 32px;
}
 .prod__detail .product--quantity h6 {
	 margin-top: 1em;
}
 .prod__detail .product--quantity input::-webkit-outer-spin-button, .prod__detail .product--quantity input::-webkit-inner-spin-button {
	 -webkit-appearance: none;
	 margin: 0;
	 text-align: center;
}
 .prod__detail .product--quantity input[type=number] {
	 -moz-appearance: textfield;
	 text-align: center;
}
 .prod__detail .product--descripton {
	 font-size: 0.9em;
}
 .prod__detail #addtocart {
	 margin-top: 2rem;
	 border-radius: 0.5em;
}
 .prod__detail #addtocart.btn-block {
	 width: 100%;
}
 .prod__detail .product__addtocart {
	 justify-content: center;
	 display: grid;
	 text-align: center;
	 grid-column-gap: 2em;
	 grid-template-columns: repeat(2, 1fr);
	 margin-top: 1em;
}
 .prod__detail .product__addtocart div > span {
	 margin-left: 0.5em;
}
 .product__descrtion--section p {
	 font-weight: 200;
	 font-size: 0.9em;
}
 .product__descrtion--section h4 {
	 font-size: 1em;
}
 #product-items .hero.hero--3 {
	 height: 150px;
}
 #product-items .hero.hero--3 img {
	 height: 150px;
}
 #product-items .product-bottom-list .bottom-product-left {
	 display: inline-flex;
	 justify-content: right;
	 margin-top: 2em;
}
 #product-items .product-bottom-list #product_list {
	 display: grid;
	 grid-template-columns: repeat(3, 1fr);
	 grid-gap: 2em;
	 margin-bottom: 3em;
}
 #product-items .product-bottom-list #product_list .item {
	 height: 300px;
}
 #product-items .product-bottom-list #product_list img {
	 height: 75%;
	 width: 100%;
}
 #product-items .product-bottom-list #product_list img p {
	 font-size: 0.9em;
}
 #product-items .product-bottom-list #product_list a:hover {
	 color: var(--colorgray);
}
 #productcart__container h1 {
	 text-align: center;
}
 #productcart__container hr {
	 border: 2px solid var(--primary-d1);
	 width: 15%;
	 margin-bottom: -6em;
	 margin-top: 3em;
}
 #productcart__container .productcart__item--details {
	 align-items: center;
}
 #productcart__container .productcart__item--details .itemgroup-option > div, #productcart__container .productcart__item--details .itemgroup-option span {
	 margin: 0.5em 0.5em;
}
 #productcart__container .itemgroup-imagecontent {
	 display: flex;
}
 #productcart__container .itemgroup-imagecontent img {
	 height: auto;
	 width: 100%;
}
 #productcart__container aside label, #productcart__container aside span {
	 width: 50%;
}
 #productcart__container aside span {
	 text-align: right;
}
 #productcart__container aside .checkout__container {
	 text-align: center;
}
 #productcart__container aside .checkout__container .button-primary {
	 width: 80%;
	 height: 40px;
	 align-items: center;
}
 #productcart__container aside button {
	 width: 50%;
	 border-radius: 0.5em;
	 margin-bottom: 0.5em;
	 margin-top: 0.5em;
}
 #productcart__container aside button i {
	 color: var(--colorwhite);
}
 #productcart__container aside .cart__container--summary {
	 padding: 2em 1em;
}
 #productcart__container aside .cart__container--summary > div {
	 display: flex;
}
 @media only screen and (min-width: 768px) {
	 #productcart__container {
		 display: flex;
	}
	 #productcart__container aside {
		 padding-top: 4rem;
	}
	 #productcart__container aside .cart__container--summary {
		 border: 1px solid darkgray;
	}
}
 @media only screen and (max-width: 767px) {
	 header.container {
		 padding-left: 15px;
		 padding-right: 15px;
	}
	 .qty-wapper {
		 justify-content: center;
	}
	 #product-items {
		 padding-left: 0;
		 padding-right: 0;
	}
	 #product-items #product-top-items {
		 display: flex;
		 flex-flow: column-reverse;
		 height: auto;
	}
	 #product-items #product-top-items .hero-content {
		 margin: 0 1em;
		 width: 90%;
		 top: -4em;
		 z-index: 2;
		 padding: 3em 2em;
	}
	 #product-items #product-top-items .hero-content h1 {
		 border-bottom: 0.25em solid var(--primary-d1);
		 padding-bottom: 1em;
	}
	 #product-items #product-top-items .hero-banner {
		 height: 200px;
	}
	 #product-items #product-top-items .hero-banner img {
		 height: 100%;
	}
	 #product-items .product-bottom-list #product_list {
		 grid-template-columns: repeat(2, 1fr);
	}
	 .prod__detail {
		 grid-template-columns: 100%;
	}
	 .prod__detail > div:first-child {
		 display: none;
	}
	 .productcart__item--details {
		 flex-flow: column;
	}
	 .productcart__item--details .itemgroup-option {
		 display: none;
	}
}
 